<div class="row text-center mt-3">
  <section id="services" class="services bg-primary col-12">
        <div class="col-lg-12 col-lg-offset-1 mt-3 mb-3">
          <h2 class="text-light">Features</h2>
          <div class="row mt-2">
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fas fa-shield-alt fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Security</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fas fa-battery-three-quarters fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Battery</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fas fa-wifi fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Range</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fas fa-cloud fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Weatherproof</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="far fa-clock fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Easy to set-up</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fas fa-location-arrow fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Location Service</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fas fa-home fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Indoor penetration</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item text-light">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fas fa-dollar-sign fa-stack-1x text-primary"></i>
                </span>
                <h4><strong>Cost effective</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
  </section>
  </div>
