<footer class="container-fluid" id="contact">
  <hr>
  <div class="row">
    <div class="text-center mt-5 mb-2 col-12 col-lg-6 mx-auto">
      <h4>SenseSec</h4>
      <p>by q2d Solutions</p>
      <p>Scheelevägen 17 </p>
      <p>223 63 Lund, Sweden</p>
      <p><i class="fas fa-phone"></i> +46 286 24 10</p>
      <p><i class="fas fa-envelope"></i> info@q2d.se</p>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg" data-toggle="tooltip" data-placement="top" title="Scroll to top"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
