<header class="main-header">
  <% include ./nav-bar.ejs %>
    <div class="topimage">
  <div class="centered">
    <img src="../images/logo-nav.png">
      <h2><%= headings[0].topImageCenterTextRowTwo %></h2>
  </div>
</div>
</header>
