<header class="main-header">
  <% include ./nav-bar.ejs %>
    <div class="topimage">
  <img src="../../images/bg.jpg" alt="modern city;">
  <div class="centered">
      <h1><%= headings[0].topImageCenterText %></h1>
      <h2><%= headings[0].topImageCenterTextRowTwo %></h2>
  </div>
</div>
</header>
