<h1 class="text-center mt-2"><u><%= headings[0].ourWorkHeading %></u></h1>

<div class="row mb-3 mt-3 p-2 mx-auto" id="ourwork2">
  <div class="col-lg-8 col-12">
    <ul id="first">
    <%for (ourwork of ourwork2){%>
        <li class="mt-1"><%= ourwork.description %></li>
    <%}%>
    </ul>
    </div>
    <div class="col-lg-4 col-12">
      <img src="../images/test2.jpg" alt="" class="img-fluid test2">

    </div>
</div>
