<h1 class="text-center mt-2"><%= headings[0].ourWorkHeading %></h1>

<div class="row mb-3 mt-3 p-2 mx-auto" id="ourwork2">

    <%for (ourwork of ourwork2){%>
      <div class="col-lg-4 col-12" id="ourwork2Texts">
        <h2><u><%= ourwork.heading %></u></h2>
        <p><%= ourwork.description %></p>
      </div>
    <%}%>
</div>
