<div class="row mb-3">
  <section class="col-12" id="services">
    <div class="text-center mt-2 mb-5">
      <h1><%= headings[0].servicesHeading %></h1>
    </div>
    <div class="row">
    <ul class="col-lg-3 col-12">
      <h3>IT</h3>
      <% for (servicesList of servicesLists){ %>
        <li><%= servicesList.listText %></li>
        <%}%>
    </ul>
    <ul class="col-lg-3 col-12 mx-auto">
      <% for (SenseSecList of SenseSecLists){ %>
        <li><p class=""><%= SenseSecList.listText %></p></li>
        <%}%>
    </ul>
    </div>
  </section>
</div>
