<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h2>Reliable operation of your IoT network <i class="fas fa-sync-alt"></i></h2>
            <ul>
                <li>
                        <p>SenseSec is for organizations who want to set up their own IoT network infrastructure and run it in a secure and cost effective way on their own servers.
         
                </li>
                <li>
                        <p>SenseSec is designed to manage IoT networks regardless of underlying technology like LoRa,Zigbee, WIfi, Blutooth etc.</p>
                </li>
                <li>
                        <p>SenseSec is especially targeted towards organizations who have high demand on secrity.
                            </p>
                </li>
                <li>
                        <p>SenseSec is designed for being integrated into organization's existing IT landscape.
                            </p>
                </li>
            </ul>
        </div>
        <img src="../images/techpic.jpg" class="mx-auto img-fluid>
</div>


<article>
    <div class="whySenseSec">
        <div class="whySenseSecH1">
            </div>
            
    </div>

</article>

<article>
        <div class="whySenseSec">
            <div class="whySenseSecH1">
                </div>
               
        </div>
    
    </article>

    <article>
            <div class="whySenseSec">
                <div class="whySenseSecH1">
                    </div>
                   
            </div>
        
        </article>
        
        <article>
                <div class="whySenseSec">
                    <div class="whySenseSecH1">
                        </div>
                       
                </div>
            
            </article>