<article>
    <div class="whySenseSec">
        <div class="whySenseSecH1">
            </div>
            <p>SenseSec is for organizations who want to set up their own IoT network infrastructure and run it in a secure and cost effective way on their own servers.
        </p>
    </div>

</article>

<article>
        <div class="whySenseSec">
            <div class="whySenseSecH1">
                </div>
                <p>SenseSec is designed to manage IoT networks regardless of underlying technology like LoRa,Zigbee, WIfi, Blutooth etc.</p>
                     <p>infrastructure and run it in a secure and cost effective way on their own servers.</p>
            </p>
        </div>
    
    </article>

    <article>
            <div class="whySenseSec">
                <div class="whySenseSecH1">
                    </div>
                    <p>SenseSec is especially targeted towards organizations who have high demand on secrity.
                </p>
            </div>
        
        </article>
        
        <article>
                <div class="whySenseSec">
                    <div class="whySenseSecH1">
                        </div>
                        <p>SenseSec is designed for being integrated into organization's existing IT landscape.
                    </p>
                </div>
            
            </article>