header{
  height: 400px;
	width: 100%;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  #logo{
    margin-top: 130px;
  }
}




.navbar {
  background-color:rgba(0, 0, 0, 0.30);
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;

    #logo-nav{
      width: 50%;
      height: 50%;
    }

}

.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(11, 105, 191, 0.95); /* NON-IE */
}
