main{
margin-top: -105px;

// #first{
//   list-style: none;
// }
#ourwork2{
  font-size: 20px;
}
.services{
  background-color: rgba(11, 105, 191, 0.95);
  .icons{
    color: rgba(11, 105, 191, 0.95);
  }
  a{
    cursor: pointer;
  }

}

.test2{
  border-radius: 5px;
  filter: blur(1px);
}



}
