<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <header>
    <div class="container-fluid">
      <% include partials/nav-bar.ejs %>
    </div>
  </header>
  <main>
    <div class="container teknik-sida">
      <div class="row">
        <h1><%= headings[0].teknikHeading %></h1>
        <div class="bg-primary">
          <p><%= technique[0].techniqueFieldOne %></p>
        </div>
        <div class="bg-danger mt-3">
          <p><%= technique[0].techniqueFieldTwo %></p>
        </div>
        <div class="bg-warning mt-3">
          <p><%= technique[0].techniqueFieldThree %></p>
        </div>
      </div>
    </div>
  </main>
  <% include partials/footer.ejs %>


  <% include partials/scripts.ejs %>

</body>

</html>
