header {
  height: 400px;
  width: 100%;
  background-color: #444;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header #logo {
  margin-top: 150px;
}
html,
body {
  height: 100%;
}
main .card {
  background-color: rgba(0, 0, 0, 0);
}
main .field1 {
  height: 400px;
  margin: 6px;
}
footer #to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
